body{  
    font-family: Calibri, Helvetica, sans-serif;  
    /* background-color: rgb(5, 146, 123); */
    width: 500px;
    height: auto;
    padding: 20px;
}


th , td{
  border-style: solid;
  border-color:black;
}
.tabs{
  background-color: rgb(238, 230, 235);
  width: 100%;
  border: solid 5px rebeccapurple;
}